<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Queryfier>
            <version>1.0.0</version>
        </Bubble_Queryfier>
    </modules>
    <global>
        <blocks>
            <bubble_queryfier>
                <class>Bubble_Queryfier_Block</class>
            </bubble_queryfier>
            <page>
                <rewrite>
                    <html_head>Bubble_Queryfier_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <bubble_queryfier>
                <class>Bubble_Queryfier_Helper</class>
            </bubble_queryfier>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Bubble_Queryfier>
                    <files>
                        <default>Bubble_Queryfier.csv</default>
                    </files>
                </Bubble_Queryfier>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <bubble_queryfier>
            <suffix_js_css>
                <enable>1</enable>
                <auto>1</auto>
                <suffix>123456</suffix>
            </suffix_js_css>
        </bubble_queryfier>
    </default>
</config>